<ion-view title="Awards" id="page25">
  <ion-content padding="true" class="has-header">
    <ion-list id="awards-list12">
      <ion-item class="item-thumbnail-left" id="awards-list-item6">
        <img src="img/PcS2DehZSQyUQ3sh8oSr_ribbon.png">
        <h2>Starting well</h2>
        <p>150 points</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="awards-list-item7">
        <img src="img/M3Pp6RTEKzLAGgm4WCzA_ribbon1.png">
        <h2>Getting there</h2>
        <p>400 points</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="awards-list-item8">
        <img src="img/qk7XOIlQ0SvUVHkftq1D_ribbon2.png">
        <h2>Midway</h2>
        <p>1000 points</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="awards-list-item9">
        <img src="img/8g9jxBbQRsyj96N04lb3_trophy.png">
        <h2>Impresive</h2>
        <p>1500 points</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="awards-list-item10">
        <img src="img/fzMz4djQY6pXX1CsMwGg_crown.png">
        <h2>Mastering Life</h2>
        <p>3000 points</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>