<ion-view title="Edit Activity" id="page20">
  <ion-content padding="true" class="manual-remove-top-padding has-header">
    <div class="spacer" style="width: 300px; height: 37px;"></div>
    <h3 id="editActivity-heading20" style="color:#272932;text-align:center;">Edit Activity</h3>
    <form id="editActivity-form9" class="list">
      <label class="item item-input" id="editActivity-input9">
        <span class="input-label">Name:</span>
        <input type="text" placeholder="Yoga">
      </label>
      <label class="item item-input" id="editActivity-input10">
        <span class="input-label">Description:</span>
        <input type="text" placeholder="YouTube video">
      </label>
      <label class="item item-input" id="editActivity-input11">
        <span class="input-label">From:</span>
        <input type="time" placeholder="">
      </label>
      <label class="item item-input" id="editActivity-input12">
        <span class="input-label">To: </span>
        <input type="time" placeholder="">
      </label>
      <label class="item item-input" id="editActivity-search2">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Connect Friend">
      </label>
      <ion-item class="item-icon-left" id="editActivity-list-item28">
        <i class="icon ion-at"></i>marta</ion-item>
    </form>
  </ion-content>
</ion-view>