<ion-view title="Friends" hide-nav-bar="true" id="page22">
  <ion-content padding="true" class=" manual-remove-top-padding">
    <div class="spacer" style="width: 300px; height: 31px;"></div>
    <h2 id="friends-heading24" style="color:#000000;">Talk to people</h2>
    <ion-list id="friends-list9">
      <label class="item item-input" id="friends-search3">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Put the nickname of a friend">
      </label>
      <ion-item class="item-icon-left item-icon-right" id="friends-list-item32">
        <i class="icon ion-shuffle"></i>Random Friend
        <i class="icon ion-android-arrow-forward"></i>
      </ion-item>
      <ion-item class="item-avatar" id="friends-list-item33">
        <h2>Maria</h2>
        <p>Remind me to watch that movie</p>
      </ion-item>
      <ion-item class="item-avatar" id="friends-list-item34">
        <h2>Bruno</h2>
        <p>Bye. Hope to talk to you soon!</p>
      </ion-item>
      <ion-item class="item-avatar" id="friends-list-item35">
        <h2>Clara</h2>
        <p>U r so righttttt</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>