<ion-view title="Mental Health Survey" hide-nav-bar="true" id="page13" style="background-color:#F1F7ED;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <h1 id="mentalHealthSurvey-heading29" style="color:#950952;text-align:center;">Mental Health Survey</h1>
    <h4 id="mentalHealthSurvey-heading9" style="color:#000000;">1 - Overall how would you rate your mental health?</h4>
    <form id="mentalHealthSurvey-form3" class="list">
      <ion-radio id="mentalHealthSurvey-radio1">Excellent</ion-radio>
      <ion-radio id="mentalHealthSurvey-radio2">Very Good</ion-radio>
      <ion-radio id="mentalHealthSurvey-radio9">Good</ion-radio>
      <ion-radio id="mentalHealthSurvey-radio10">Fair</ion-radio>
      <ion-radio id="mentalHealthSurvey-radio11">Poor</ion-radio>
    </form>
    <h4 id="mentalHealthSurvey-heading26" style="color:#000000;">2 - During the past two weeks how often have you felt sad or depressed?</h4>
    <form id="mentalHealthSurvey-form10" class="list">
      <ion-radio id="mentalHealthSurvey-radio12">Extremelly often</ion-radio>
      <ion-radio id="mentalHealthSurvey-radio13">Very often</ion-radio>
      <ion-radio id="mentalHealthSurvey-radio14">Somewhat often</ion-radio>
      <ion-radio id="mentalHealthSurvey-radio15">Not so often</ion-radio>
      <ion-radio id="mentalHealthSurvey-radio16">Not at all often</ion-radio>
      <h4 id="mentalHealthSurvey-heading16" style="color:#000000;">3 - During the past two weeks how often has your mental health interfered with your personal relationships?</h4>
      <form id="mentalHealthSurvey-form11" class="list">
        <ion-radio id="mentalHealthSurvey-radio17">Extremelly often</ion-radio>
        <ion-radio id="mentalHealthSurvey-radio18">Very often</ion-radio>
        <ion-radio id="mentalHealthSurvey-radio19">Somewhat often</ion-radio>
        <ion-radio id="mentalHealthSurvey-radio20">Not so often</ion-radio>
        <ion-radio id="mentalHealthSurvey-radio21">Not at all often</ion-radio>
        <h4 id="mentalHealthSurvey-heading27" style="color:#000000;">4 - During the past two weeks how often has your mental health interfered with your ability to get work done or accomplish tasks?</h4>
        <form id="mentalHealthSurvey-form12" class="list">
          <ion-radio id="mentalHealthSurvey-radio22">Extremelly often</ion-radio>
          <ion-radio id="mentalHealthSurvey-radio23">Very often</ion-radio>
          <ion-radio id="mentalHealthSurvey-radio24">Somewhat often</ion-radio>
          <ion-radio id="mentalHealthSurvey-radio25">Not so often</ion-radio>
          <ion-radio id="mentalHealthSurvey-radio26">Not at all often</ion-radio>
        </form>
      </form>
    </form>
    <a ui-sref="menu.resultMHS()" id="mentalHealthSurvey-button13" class="button button-assertive button-block">Submit</a>
  </ion-content>
</ion-view>