<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-assertive">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21" style="background-color:#0E7C7B;">
    <ion-content padding="false" style="top:0px !important;" class="side-menu-left side-menu-gradient">
      <div class="spacer" style="width: 268px; height: 31px;"></div>
      <div class="profile-image">
        <img src="img/ERvJJKvCRO6A6vRKoxqw_blank-profile-picture-973460_640.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h3 id="menu-heading14" style="color:#FFFFFF;font-weight:300;text-align:center;">Susan Taylor</h3>
      <div class="spacer" style="width: 268px; height: 16px;"></div>
      <ion-list id="menu-list1">
        <ion-item class="item-icon-left side-menu-item" id="menu-list-item1" href-inappbrowser="page1">
          <i class="icon ion-information"></i>Information COVID-19</ion-item>
        <ion-item class="item-icon-left side-menu-item" id="menu-list-item2" ui-sref="menu.prevent()" menu-close="">
          <i class="icon ion-android-hand"></i>How to Prevent</ion-item>
        <ion-item class="item-icon-left side-menu-item" id="menu-list-item3" href-inappbrowser="page3">
          <i class="icon ion-document-text"></i>Test COVID-19</ion-item>
        <ion-item class="item-icon-left side-menu-item" id="menu-list-item4" ui-sref="menu.mentalHealthSurvey()" menu-close="">
          <i class="icon ion-document-text"></i>Test Mental Health</ion-item>
        <ion-item class="item-icon-left side-menu-item" id="menu-list-item5" ui-sref="menu.video()" menu-close="">
          <i class="icon ion-chatbubbles"></i>Talk to a therapist</ion-item>
        <ion-item class="item-icon-left side-menu-item" id="menu-list-item11" ui-sref="menu.schedule()" menu-close="">
          <i class="icon ion-android-home"></i>What to do at home?</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>