<ion-view title="Page" hide-nav-bar="true" id="page11" class="body">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
    <div id="page-button-bar1" class="button-bar button-tabs">
      <button id="page-button7" style="font-weight:lighter;font-size:10px;" class="button button-assertive button-large button-block icon ion-heart">
        <br>Activities</button>
      <button id="page-button10" style="font-weight:lighter;font-size:10px;" class="button button-assertive button-large icon ion-ios-calendar">
        <br> Schedule</button>
      <button id="page-button8" style="font-weight:lighter;font-size:10px;" class="button button-assertive button-large button-block icon ion-android-contacts">
        <br>Friends</button>
      <button id="page-button9" style="font-weight:lighter;font-size:10px;" class="button button-assertive button-large button-block icon ion-trophy">
        <br>Awards</button>
    </div>
  </ion-content>
</ion-view>