<ion-view title="Prevent" id="page24">
  <ion-content padding="true" class="has-header">
    <h2 id="prevent-heading25" style="color:#000000;text-align:center;">How can you reduce the risk of infection?</h2>
    <ion-list id="prevent-list11">
      <ion-item class="item-thumbnail-left" id="prevent-list-item38">
        <img src="img/owEFSLNBS0ebZbgSURlU_coronavirus.png">
        <h2>Wash your hands</h2>
        <p>regularly with alcohol-based
          <br> hand rub or soap and water</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="prevent-list-item41">
        <img src="img/ol9zpey1Qxq02fykz19d_coronavirus1.png">
        <h2>Avoid touching</h2>
        <p>your eyes, nose and mouth
          <br> with unwashed hands</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="prevent-list-item40">
        <img src="img/5OM6y3dQkOZVSOyRTwpA_avoid-crowds.png">
        <h2>Avoid close contact</h2>
        <p>with people who are sick</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="prevent-list-item37">
        <img src="img/GX4HxeZTEOwgIySvbmOL_cough.png">
        <h2>Cover mounth and nose</h2>
        <p>when coughing and
          <br>sneezing</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="prevent-list-item39">
        <img src="img/KU2rv5hoQ26BVbE7QHSI_quarantine.png">
        <h2>Stay Home</h2>
        <p>if you are sick</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>