<ion-view title="Question" hide-nav-bar="true" id="page12" style="background-color:#F1F7ED;" class="space">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <button id="question-button11" style="text-align:right;" class="button button-energized button-block button-clear">SKIP</button>
    <div class="spacer" style="height: 100px;"></div>
    <h2 id="question-heading8" style="color:#272932;">Would you like to fill a mental health survey?</h2>
    <div id="question-markdown11" class="show-list-numbers-and-dots">
      <p style="color:#272932;font-size:20px;">This survey can help you find out, so you can take steps to improve your well being.</p>
    </div>
    <div class="spacer" style="height: 100px;"></div>
    <a ui-sref="menu.mentalHealthSurvey()" id="question-button12" style="text-align:right;" class="button button-energized button-block button-clear icon-right ion-android-arrow-forward">Continue</a>
  </ion-content>
</ion-view>