<ion-view title="Schedule" id="page19">
  <ion-content padding="true" class="manual-remove-top-padding has-header">
    <div class="spacer" style="width: 300px; height: 32px;"></div>
    <h3 id="schedule-heading19" style="color:#000000;text-align:center;">Organize your routine</h3>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <ion-list id="schedule-list7">
      <ion-item class="item-icon-right dark" id="schedule-list-item25" ui-sref="menu.editActivity({})">
        <b>Yoga</b> | Youtube Video
        <p>From 8 am to 8:30 am</p>
        <i class="icon ion-edit"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="schedule-list-item26" ui-sref="menu.editActivity({})">
        <b>Reading</b> | Harry Potter
        <p>From 10 am to 11 am</p>
        <i class="icon ion-edit"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="schedule-list-item27" ui-sref="menu.editActivity({})">
        <b>Cooking</b> | Chicken
        <p>From 7 pm to 7:30 pm</p>
        <i class="icon ion-edit"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>