<ion-view title="Today" id="page21">
  <ion-content padding="true" class="manual-remove-top-padding has-header">
    <button id="today-button19" style="text-align:right;" class="button button-dark button-block button-clear icon ion-edit"></button>
    <div id="today-button-bar2" class="button-bar"></div>
    <h1 id="today-heading21" style="color:#000000;">Today</h1>
    <h5 id="today-heading22" style="color:#000000;">How are you feeling?</h5>
    <div id="today-button-bar4" class="button-bar">
      <button id="today-button35" style="font-size:13px;" class="button button-assertive button-block icon ion-sad">
        <br>Sad</button>
      <button id="today-button36" style="font-size:13px;" class="button button-assertive button-block icon ion-android-person">
        <br>Okay</button>
      <button id="today-button37" style="font-size:13px;" class="button button-assertive button-block icon ion-happy">
        <br>Happy</button>
    </div>
    <h5 id="today-heading23" style="color:#000000;">These are your activities for today:</h5>
    <ion-list id="today-list8">
      <ion-item class="item-icon-left" id="today-list-item29">
        <i class="icon ion-android-checkbox-outline-blank"></i>Yoga
        <p>8:00 - 8:30</p>
      </ion-item>
      <ion-item class="item-icon-left" id="today-list-item30">
        <i class="icon ion-android-checkbox-outline-blank"></i>Reading
        <p>10:00 - 11:00</p>
      </ion-item>
      <ion-item class="item-icon-left" id="today-list-item31">
        <i class="icon ion-android-checkbox-outline-blank"></i>Cooking
        <p>7:00 - 8:00</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>