<ion-view title="Tutorial" hide-nav-bar="true" id="page10" style="background-color:#F1F7ED;">
  <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="tutorial-slider1" style="width:100%;height:100%;">
      <ion-slide-page id="tutorial-slide24" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;background-color:#F1F7ED;" class="padding">
        <div class="spacer" style="height: 100px;"></div>
        <div>
          <img src="img/rHLJbA19RzijLLUJ7fWE_real-estate.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 37px;"></div>
        <h3 id="tutorial-heading7" style="color:#272932;text-align:center;">Stay at Home</h3>
        <div id="tutorial-markdown6" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#272932;font-size:23px;">Social distancing is a measure to contain the spread of the
            <strong>disease</strong>.</p>
        </div>
      </ion-slide-page>
      <ion-slide-page id="tutorial-slide29" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;background-color:#F1F7ED;" class="padding">
        <div class="spacer" style="height: 100px;"></div>
        <div>
          <img src="img/uGVKRFJSXuDflzWYjeU8_illness.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 37px;"></div>
        <h3 id="tutorial-heading10" style="color:#272932;text-align:center;">Mental Health</h3>
        <div id="tutorial-markdown9" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#272932;font-size:23px;">Fear and anxiety about the outbreak of coronavirus can be
            <strong>overwhelming</strong> and cause
            <strong>strong emotions</strong>.</p>
        </div>
      </ion-slide-page>
      <ion-slide-page id="tutorial-slide210" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;background-color:#F1F7ED;" class="padding">
        <div class="spacer" style="height: 100px;"></div>
        <div>
          <img src="img/YovavlqlTKusLa18bLHI_calendar.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 37px;"></div>
        <h3 id="tutorial-heading11" style="color:#272932;text-align:center;">Coping Strategies</h3>
        <div id="tutorial-markdown10" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#272932;font-size:23px;">Coping with stress will make you, the people you care about, and your community
            <strong>stronger</strong>.</p>
        </div>
      </ion-slide-page>
      <ion-slide-page id="tutorial-slide211" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;background-color:#F1F7ED;" class="padding">
        <div class="spacer" style="height: 100px;"></div>
        <div>
          <img src="img/xooUKOKSy6cP8hsNfb2I_activities.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 37px;"></div>
        <h3 id="tutorial-heading12" style="color:#272932;text-align:center;">Are you ready to dive into this experience?</h3>
        <div class="spacer" style="height: 100px;"></div>
        <a ui-sref="login()" id="tutorial-button39" style="text-align:right;" class="button button-energized button-block button-clear icon-right ion-android-arrow-forward">CONTINUE</a>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>