<ion-view title="Wait" hide-nav-bar="true" id="page16" style="background-color:#F1F7ED;">
  <ion-content padding="true" class=" manual-remove-top-padding">
    <div class="spacer" style="width: 300px; height: 28px;"></div>
    <h3 id="wait-heading15" style="color:#000000;text-align:center;">Finding Provider</h3>
    <div id="wait-markdown12" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">00:30 time elapsed</p>
    </div>
    <div class="spacer" style="height: 100px;"></div>
    <div id="wait-markdown13" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:23px;">This is a volunteering initiative and the wait times can vary. Please make sure you are in a safe, quiet space and ready to chat.</p>
    </div>
    <div class="spacer" style="height: 100px;"></div>
    <button id="wait-button17" class="button button-energized button-large button-block button-clear icon ion-close-circled"></button>
  </ion-content>
</ion-view>